[submodule "plugins/contact"]
	path = plugins/contact
	url = git://github.com/msadouni/cakephp-contact-plugin.git
[submodule "plugins/media"]
	path = plugins/media
	url = git@github.com:djenvert/media.git
[submodule "plugins/tagging"]
	path = plugins/tagging
	url = git@github.com:djenvert/tagging.git
[submodule "plugins/debug_kit"]
	path = plugins/debug_kit
	url = git@thechaw.com:debug_kit.git
[submodule "plugins/html_cache"]
	path = plugins/html_cache
	url = git://github.com/mcurry/html_cache.git
